<div class="page">
    <app-slider></app-slider>
    <app-breadcrumb></app-breadcrumb>
    <section class="page__content">
        <h1>Om mig</h1>
        <p>Jeg hedder Kenneth Clemmensen, og jeg er født den 24. november 1989. Jeg gik på Syddansk Erhvervsskole i
            Odense på hovedforløbet som webintegrator. Jeg har taget grundforløbet som mediegrafiker i Kolding, men jeg
            stoppede, fordi jeg havde mistet min interesse for det. Så begyndte jeg på grundforløbet som webintegrator,
            da jeg elsker at lave hjemmesider.</p>
        <p>Noget af min fritid bruger jeg på at cykle, da jeg elsker at få set mig omkring og ikke mindst at få en masse
            frisk luft efter at have siddet ved en computer hele dagen. Jeg har cyklet mange tusinde kilometer rundt
            omkring i Danmark, og et par kilometer i Tyskland, og taget nogle billeder, som du kan se <a
                href="/billeder">her</a>. Udover at cykle bruger jeg også lidt af min
            fritid på at se forskellige tv-serier. Blandt andet Friends, Krøniken, Rejseholdet og Hotellet. Et par
            timers bowling bliver det også til en gang imellem.</p>
    </section>
</div>