* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #191954;
}

#top {
	background-color: #193480;
	height: 99px;
	border-bottom: 1px solid #FFFFFF;
}

#top2 {
	background-image: url(../billeder/top2.gif);
	background-repeat: no-repeat;
	width: 900px;
	height: 99px;
	margin-left: auto;
	margin-right: auto;
}

#wrap {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	background-color: #193480;
	width: 898px;
	height: 50px;
	margin-top: -1px;
	padding-top: 4px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
}

#menu a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	margin-right: 10px;
}

#menu a:hover {
	text-decoration: underline;
}

#menu #menu_link {
	text-decoration: underline;
	font-weight: bold;
}

#samle {
	width: 880px;
	height: 580px;
	padding: 10px;
}

#samle h1 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}

#samle h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}

#samle h3 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #FFFFFF;
	margin-bottom: 2px;
}

#samle p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom: 2px;
}

#samle a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}

#samle a:hover {
	text-decoration: none;
}

#content {
	width: 668px;
	float: left;
	padding-right: 10px;
}

.textfield {
	background-color: #193480;
	width: 220px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#biografi {
	background-color: #193480;
	width: 620px;
	height: 320px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#beskrivelse {
	background-color: #193480;
	width: 320px;
	height: 120px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.knapper {
	display: block;
	background-color: #193480;
	width: 60px;
	height: 20px;
	margin-bottom: 6px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content .rediger_celle {
	padding-right: 10px; 
}

#hojre {
	width: 189px;
	min-height: 355px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 1px solid #FFFFFF;
}

#hojre img {
	max-width: 189px;
	max-height: 260px;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid #FFFFFF;
}

#hojre p {
	margin-bottom: 0px;
}

#bund {
	background-color: #193480; 
	position: fixed;
	bottom: 0;
	width: 898px;
	height: 25px;
	padding-top: 4px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	text-align: center;
	clear: both;
}

#bund p, #bund a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}

#bund a:hover {
	text-decoration: none;
}

/* login */

#login_indhold {
	width: 200px;
	height: 150px;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
	border: 1px solid #FFFFFF;
	text-align: center;
}

#login_indhold p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	margin-bottom: 4px;
}

#login_indhold .textfield {
	background-color: #193480;
	width: 200px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#login_indhold #knap {
	display: block;
	background-color: #193480;
	width: 60px;
	height: 20px;
	margin-left: 70px;
	margin-bottom: 6px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}