* {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

body {
	background-color: #191954;
}

#top {
	background-color: #193480;
	height: 99px;
	border-bottom: 1px solid #FFFFFF;
}

#top2 {
	background-image: url(../billeder/top2.gif);
	width: 900px;
	height: 99px;
	margin-left: auto;
	margin-right: auto;
}

#wrap {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	background-color: #193480;
	width: 898px;
	height: 25px;
	margin-top: -1px;
	padding-top: 4px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
}

#menu a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	margin-right: 10px;
}

#menu a:hover {
	text-decoration: underline;
}

#menu #menu_link {
	text-decoration: underline;
	font-weight: bold;
}

#samle {
	width: 880px;
	height: 580px;
	padding: 10px;
}

#samle h1 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}

#samle h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}

#samle h3 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #FFFFFF;
	margin-bottom: 2px;
}

#samle p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	margin-bottom: 4px;
}

#samle a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}

#samle a:hover {
	text-decoration: none;
}

#samle ul li {
	list-style-type: none;
}

#content {
	width: 668px;
	float: left;
	padding-right: 10px;
}

#content #anmelder {
	background-color: #193480;
	width: 155px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content #stjerner {
	background-color: #193480;
	width: 35px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content #tekst_anmeldelse {
	background-color: #193480;
	width: 320px;
	height: 100px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content #knap {
	display: block;
	background-color: #193480;
	width: 50px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content .vaerk {
	float: left;
	margin-right: 30px;
}

#content #minutter {
	background-color: #193480;
	width: 45px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content #kategorier {
	background-color: #193480;
	width: 140px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content #udregn {
	display: block;
	clear: both;
	background-color: #193480;
	width: 80px;
	height: 20px;
	margin-bottom: 20px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF; 
}

#content #resultat {
	background-color: #193480;
	width: 80px;
	height: 20px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF; 
}

#content .bestilling {
	background-color: #193480;
	width: 180px;
	height: 20px;
	margin-bottom: 4px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content #bestilling_knap {
	display: block;
	background-color: #193480;
	width: 50px;
	height: 20px;
	margin-top: 6px;
	margin-bottom: 10px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#content .tour_celle_sted {
	width: 200px;
}

#content .tour_celle {
	width: 100px;
}

#hojre {
	width: 189px;
	min-height: 355px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 1px solid #FFFFFF;
}

#hojre img {
	max-width: 189px;
	max-height: 260px;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid #FFFFFF;
}

#hojre p {
	margin-bottom: 0px;
}

#bund {
	background-color: #193480; 
	position: fixed;
	bottom: 0;
	width: 898px;
	height: 25px;
	padding-top: 4px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	text-align: center;
	clear: both;
}

#bund p, #bund a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
}

#bund a:hover {
	text-decoration: none;
}