<div class="page">
    <app-slider></app-slider>
    <app-breadcrumb></app-breadcrumb>
    <section class="page__content">
        <h1>Sitemap</h1>
        <p>Her kan du få et overblik over alle siderne, hvis der er noget, du ikke kan finde.</p>
        <ul>
            <li><a href="/">Forside</a></li>
            <li><a href="/billeder/">Billeder</a>
                <ul>
                    <li><a href="/billeder/fyn">Fyn</a></li>
                    <li><a href="/billeder/himmelbjerget">Himmelbjerget</a></li>
                    <li><a href="/billeder/kolding">Kolding</a></li>
                    <li><a href="/billeder/kolding-fjord">Kolding Fjord</a></li>
                    <li><a href="/billeder/koebenhavn">København</a></li>
                    <li><a href="/billeder/lillebaelt">Lillebælt</a></li>
                    <li><a href="/billeder/silkeborg">Silkeborg</a></li>
                    <li><a href="/billeder/storebaelt">Storebælt</a></li>
                    <li><a href="/billeder/turen-til-jylland">Turen til Jylland</a></li>
                    <li><a href="/billeder/turen-til-langeland">Turen til Langeland</a></li>
                    <li><a href="/billeder/turen-til-tyskland">Turen til Tyskland</a></li>
                </ul>
            </li>
            <li><a href="/film">Film</a></li>
            <li><a href="/php">PHP</a></li>
            <li><a href="/java">Java</a></li>
            <li><a href="/links">Links</a>
                <ul>
                    <li><a href="/links/andre">Andre</a></li>
                </ul>
            </li>
            <li><a href="/om-mig">Om mig</a></li>
            <li><a href="/soeg">Søg</a></li>
        </ul>
    </section>
</div>