<header class="header">
    <a href="/" class="header__site-name">
        Kennethclemmensen.dk
    </a>
    <a href="#" class="header__nav-trigger" id="mobile-menu-trigger">
        <span class="header__nav-icon"></span>
    </a>
    <nav class="menu">
        <div class="menu-main-menu-container">
            <ul id="menu-main-menu" class="menu">
                <li id="menu-item-41"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-19 current_page_item menu-item-41">
                    <a href="/" aria-current="page">Forside</a></li>
                <li id="menu-item-42"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-42">
                    <a href="/billeder">Billeder</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1706"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1706"><a
                                href="/billeder/fyn">Fyn</a></li>
                        <li id="menu-item-1705"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1705"><a
                                href="/billeder/himmelbjerget">Himmelbjerget</a></li>
                        <li id="menu-item-1704"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1704"><a
                                href="/billeder/kolding">Kolding</a></li>
                        <li id="menu-item-1703"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1703"><a
                                href="/billeder/kolding-fjord">Kolding Fjord</a></li>
                        <li id="menu-item-1702"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1702"><a
                                href="/billeder/kobenhavn">København</a></li>
                        <li id="menu-item-1701"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1701"><a
                                href="/billeder/lillebaelt">Lillebælt</a></li>
                        <li id="menu-item-1700"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1700"><a
                                href="/billeder/silkeborg">Silkeborg</a></li>
                        <li id="menu-item-1699"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1699"><a
                                href="/billeder/storebaelt">Storebælt</a></li>
                        <li id="menu-item-1698"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1698"><a
                                href="/billeder/turen-til-jylland">Turen til Jylland</a>
                        </li>
                        <li id="menu-item-1697"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1697"><a
                                href="/billeder/turen-til-langeland">Turen til
                                Langeland</a></li>
                        <li id="menu-item-1696"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1696"><a
                                href="/billeder/turen-til-skagen">Turen til Skagen</a></li>
                        <li id="menu-item-1695"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1695"><a
                                href="/billeder/turen-til-tyskland">Turen til Tyskland</a>
                        </li>
                        <li id="menu-item-1743"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1743"><a
                                href="/billeder/oestjylland">Østjylland</a></li>
                    </ul>
                </li>
                <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a
                        href="/film">Film</a></li>
                <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a
                        href="/php">PHP</a></li>
                <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a
                        href="/java">Java</a></li>
                <li id="menu-item-45"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-45">
                    <a href="/links">Links</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1708"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1708"><a
                                href="/links/andre">Andre</a></li>
                    </ul>
                </li>
                <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a
                        href="/om-mig">Om mig</a></li>
                <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a
                        href="/soeg">Søg</a></li>
                <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a
                        href="/sitemap">Sitemap</a></li>
            </ul>
        </div>
    </nav>
</header>
<nav class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__content">
        <div class="menu-main-menu-container">
            <ul id="menu-main-menu-1" class="menu">
                <li><a href="/"
                        class="mobile-menu__link mobile-menu__link--current">Forside</a></li>
                <li><a href="/billeder" class="mobile-menu__link ">Billeder<span
                            class="mobile-menu__arrow"></span></a>
                    <ul class="sub-menu">
                        <li><a href="/billeder/fyn" class="mobile-menu__link ">Fyn</a></li>
                        <li><a href="/billeder/himmelbjerget"
                                class="mobile-menu__link ">Himmelbjerget</a></li>
                        <li><a href="/billeder/kolding"
                                class="mobile-menu__link ">Kolding</a></li>
                        <li><a href="/billeder/kolding-fjord"
                                class="mobile-menu__link ">Kolding Fjord</a></li>
                        <li><a href="/billeder/kobenhavn"
                                class="mobile-menu__link ">København</a></li>
                        <li><a href="/billeder/lillebaelt"
                                class="mobile-menu__link ">Lillebælt</a></li>
                        <li><a href="/billeder/silkeborg"
                                class="mobile-menu__link ">Silkeborg</a></li>
                        <li><a href="/billeder/storebaelt"
                                class="mobile-menu__link ">Storebælt</a></li>
                        <li><a href="/billeder/turen-til-jylland"
                                class="mobile-menu__link ">Turen til Jylland</a></li>
                        <li><a href="/billeder/turen-til-langeland"
                                class="mobile-menu__link ">Turen til Langeland</a></li>
                        <li><a href="/billeder/turen-til-skagen"
                                class="mobile-menu__link ">Turen til Skagen</a></li>
                        <li><a href="/billeder/turen-til-tyskland"
                                class="mobile-menu__link ">Turen til Tyskland</a></li>
                        <li><a href="/billeder/oestjylland"
                                class="mobile-menu__link ">Østjylland</a></li>
                    </ul>
                </li>
                <li><a href="/film" class="mobile-menu__link ">Film</a></li>
                <li><a href="/php" class="mobile-menu__link ">PHP</a></li>
                <li><a href="/java" class="mobile-menu__link ">Java</a></li>
                <li><a href="/links" class="mobile-menu__link ">Links<span
                            class="mobile-menu__arrow"></span></a>
                    <ul class="sub-menu">
                        <li><a href="/links/andre" class="mobile-menu__link ">Andre</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/om-mig" class="mobile-menu__link ">Om mig</a></li>
                <li><a href="/soeg" class="mobile-menu__link ">Søg</a></li>
                <li><a href="/sitemap" class="mobile-menu__link ">Sitemap</a></li>
            </ul>
        </div>
    </div>
</nav>