<header class="header">
    <a href="/" class="header__site-name">
        Kennethclemmensen.dk
    </a>
    <a href="#" class="header__nav-trigger" id="mobile-menu-trigger">
        <span class="header__nav-icon"></span>
    </a>
    <nav class="menu">
        <div class="menu-main-menu-container">
            <ul id="menu-main-menu" class="menu">
                <li id="menu-item-41"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-19 current_page_item menu-item-41">
                    <a href="https://kennethclemmensen.dk/" aria-current="page">Forside</a></li>
                <li id="menu-item-42"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-42">
                    <a href="https://kennethclemmensen.dk/billeder/">Billeder</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1706"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1706"><a
                                href="https://kennethclemmensen.dk/billeder/fyn/">Fyn</a></li>
                        <li id="menu-item-1705"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1705"><a
                                href="https://kennethclemmensen.dk/billeder/himmelbjerget/">Himmelbjerget</a></li>
                        <li id="menu-item-1704"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1704"><a
                                href="https://kennethclemmensen.dk/billeder/kolding/">Kolding</a></li>
                        <li id="menu-item-1703"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1703"><a
                                href="https://kennethclemmensen.dk/billeder/kolding-fjord/">Kolding Fjord</a></li>
                        <li id="menu-item-1702"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1702"><a
                                href="https://kennethclemmensen.dk/billeder/kobenhavn/">København</a></li>
                        <li id="menu-item-1701"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1701"><a
                                href="https://kennethclemmensen.dk/billeder/lillebaelt/">Lillebælt</a></li>
                        <li id="menu-item-1700"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1700"><a
                                href="https://kennethclemmensen.dk/billeder/silkeborg/">Silkeborg</a></li>
                        <li id="menu-item-1699"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1699"><a
                                href="https://kennethclemmensen.dk/billeder/storebaelt/">Storebælt</a></li>
                        <li id="menu-item-1698"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1698"><a
                                href="https://kennethclemmensen.dk/billeder/turen-til-jylland/">Turen til Jylland</a>
                        </li>
                        <li id="menu-item-1697"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1697"><a
                                href="https://kennethclemmensen.dk/billeder/turen-til-langeland/">Turen til
                                Langeland</a></li>
                        <li id="menu-item-1696"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1696"><a
                                href="https://kennethclemmensen.dk/billeder/turen-til-skagen/">Turen til Skagen</a></li>
                        <li id="menu-item-1695"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1695"><a
                                href="https://kennethclemmensen.dk/billeder/turen-til-tyskland/">Turen til Tyskland</a>
                        </li>
                        <li id="menu-item-1743"
                            class="menu-item menu-item-type-post_type menu-item-object-kc_gallery menu-item-1743"><a
                                href="https://kennethclemmensen.dk/billeder/oestjylland/">Østjylland</a></li>
                    </ul>
                </li>
                <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a
                        href="https://kennethclemmensen.dk/film/">Film</a></li>
                <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a
                        href="https://kennethclemmensen.dk/php/">PHP</a></li>
                <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a
                        href="https://kennethclemmensen.dk/java/">Java</a></li>
                <li id="menu-item-45"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-45">
                    <a href="https://kennethclemmensen.dk/links/">Links</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1708"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1708"><a
                                href="https://kennethclemmensen.dk/links/andre/">Andre</a></li>
                    </ul>
                </li>
                <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a
                        href="https://kennethclemmensen.dk/om-mig/">Om mig</a></li>
                <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a
                        href="https://kennethclemmensen.dk/soeg/">Søg</a></li>
                <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a
                        href="https://kennethclemmensen.dk/sitemap/">Sitemap</a></li>
            </ul>
        </div>
    </nav>
</header>