#Visual Studio Code
/.vscode

#Node
/node_modules

#Composer
/vendor

#Cache
/public/wp-content/cache

#TypeScript
/.tsbuildinfo

#Backup
/public/wp-content/aiowps_backups
/public/wp-content/kc_backup