#Visual Studio Code
.vscode

#Database
db

#Node
node_modules

#Uploads
public/wp-content/uploads

#Composer
vendor

#Cache
public/wp-content/cache

#All In One WP Security
public/wp-content/aiowps_backups

#TypeScript
.tsbuildinfo