#PHPStorm
.idea

#Database
db

#Node
node_modules

#WP-Config
public/wp-config.php

#Uploads
public/wp-content/uploads

#Composer
vendor

#Cache
public/wp-content/cache

#All In One WP Security
public/wp-content/aiowps_backups

#TypeScript
.tscache
