@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('less/color.less');
@import url('less/media-query.less');
@import url('less/mixin.less');
@import url('less/variable.less');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

html, body {
  &.show-mobile-menu {
    height: 100%;
    overflow: hidden;
    @media @tablet {
      height: initial;
      overflow: initial;
    }
  }
}

body {
  background: @color-blue--dark;
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: @color-white;
}

h1 {
  font-size: 2em;
  line-height: 1.1em;
  margin: 0 0 5px 0;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 15px 0;
}

a {
  font-size: 1em;
  line-height: 1.5em;
  color: inherit;
  text-decoration: underline;
  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  margin-left: 20px;
  list-style-position: outside;
  ul {
    list-style-type: circle;
  }
}

div.page {
    padding: @header-height 15px 0 15px;
    @media @tablet {
      width: @page-width-tablet;
      margin: 0 auto;
      padding: 0 15px;
    }
    @media @desktop {
      width: @page-width-desktop;
      padding: 0;
    }
  }
  
  .page__content {
    padding: 20px 0 (@footer-height + 20px) 0;
    @media @tablet {
      padding: 0 0 (@footer-height-tablet + 20px) 0;
    }
  }
  
  .page__galleries {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    @media @tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media @desktop {
      justify-content: space-between;
    }
  }
  
  .page__gallery-link {
    background: no-repeat center;
    background-size: cover;
    display: inline-flex;
    justify-content: flex-end;
    width: 283px;
    height: 180px;
    margin: 0 20px 20px 0;
    padding: 5px 15px;
    border: 1px solid @color-white;
    text-decoration: none;
    @media @desktop {
      margin-right: 10px;
    }
    &:hover {
      .page__gallery-title::after {
        width: 100%;
      }
    }
  }
  
  .page__gallery-title {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    color: @color-black;
    .text-shadow(1px, 1px, 1px, @color-black);
    &::after {
      display: block;
      background: @color-black;
      content: '';
      width: 0;
      height: 2px;
      margin-top: 4px;
      .transition();
    }
  }