* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

html, body {
  &.show-mobile-menu {
    height: 100%;
    overflow: hidden;
    @media #{$tablet} {
      height: initial;
      overflow: initial;
    }
  }
}

body {
  background: $color-blue--dark;
  min-width: 320px;
}

.fdwc__pagination {
  padding-top: 10px;
  text-align: center;
  .page-numbers {
    display: inline-block;
    margin: 0 10px;
    &.current {
      font-weight: bold;
    }
  }
}