@use 'color.scss' as color;
@use 'media-query.scss' as mediaQuery;

img {
    display: block;
    max-width: 100%;
}

video {
    width: 100%;
    border: 2px solid color.$color-gray;
    @media #{mediaQuery.$horizontal-mobile} {
        width: 450px;
    }
}