@mixin border-radius($value) {
  border-radius: $value;
}

@mixin border-radiuses($topLeft, $topRight, $bottomRight, $bottomLeft) {
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin box-shadow($x, $y, $blur, $color, $shadows...) {
  box-shadow: $x $y $blur $color, $shadows;
}

@mixin placeholder-color($color) {
  &::placeholder {
    color: $color;
  }
}

@mixin rotate($deg, $args...) {
  transform: rotate($deg) $args;
}

@mixin transition($property: all, $duration: .4s, $timing-function: ease, $delay: 0s, $args...) {
  transition: $property $duration $timing-function $delay, $args;
}

@mixin translateX($value, $args...) {
  transform: translateX($value) $args;
}