@mixin border-radius($value) {
  border-radius: $value;
}

@mixin border-radiuses($topLeft, $topRight, $bottomRight, $bottomLeft) {
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

@mixin placeholder-color($color) {
  &::placeholder {
    color: $color;
  }
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin transition($property: all, $duration: .4s, $timing-function: ease, $delay: 0s) {
  transition: $property $duration $timing-function $delay;
}

@mixin translateX($value) {
  transform: translateX($value);
}