.border-radius(@value) {
  border-radius: @value;
}

.border-radius(@topLeft; @topRight; @bottomRight; @bottomLeft) {
  border-radius: @arguments;
}

.box-shadow(@x; @y; @blur; @color) {
  box-shadow: @arguments;
}

.rotate(@value) {
  transform: rotate(@value);
}

.text-shadow(@x; @y; @blur; @color) {
  text-shadow: @arguments;
}

.transition(@properties: all; @duration: .4s; @timing-function: ease; @delay: 0s) {
  transition: @arguments;
}

.translateX(@value) {
  transform: translateX(@value);
}