<div class="page">
    <app-slider></app-slider>
    <app-breadcrumb></app-breadcrumb>
    <section class="page__content">
        <h1>Billeder</h1>
        <p>På denne side er der forskellige gallerier med en masse billeder i. Vælg et galleri for at se billederne.</p>
        <div class="page__galleries">
            <a href="/billeder/fyn/" class="page__gallery-link"
                style="background-image: url('assets/images/Fyn.jpg')">
                <span class="page__gallery-title">Fyn</span>
            </a>
            <a href="/billeder/himmelbjerget/" class="page__gallery-link"
                style="background-image: url('assets/images/Himmelbjerget-1.jpg')">
                <span class="page__gallery-title">Himmelbjerget</span>
            </a>
            <a href="/billeder/kolding/" class="page__gallery-link"
                style="background-image: url('assets/images/Kolding.jpg')">
                <span class="page__gallery-title">Kolding</span>
            </a>
            <a href="/billeder/kolding-fjord/" class="page__gallery-link"
                style="background-image: url('assets/images/Kolding_fjord-1.jpg')">
                <span class="page__gallery-title">Kolding Fjord</span>
            </a>
            <a href="/billeder/kobenhavn/" class="page__gallery-link"
                style="background-image: url('assets/images/København.jpg')">
                <span class="page__gallery-title">København</span>
            </a>
            <a href="/billeder/lillebaelt/" class="page__gallery-link"
                style="background-image: url('assets/images/Lillebælt.jpg')">
                <span class="page__gallery-title">Lillebælt</span>
            </a>
            <a href="/billeder/silkeborg/" class="page__gallery-link"
                style="background-image: url('assets/images/Silkeborg.jpg')">
                <span class="page__gallery-title">Silkeborg</span>
            </a>
            <a href="/billeder/storebaelt/" class="page__gallery-link"
                style="background-image: url('assets/images/Storebælt.jpg')">
                <span class="page__gallery-title">Storebælt</span>
            </a>
            <a href="/billeder/turen-til-jylland/" class="page__gallery-link"
                style="background-image: url('assets/images/Turen-til-Jylland.jpg')">
                <span class="page__gallery-title">Turen til Jylland</span>
            </a>
            <a href="/billeder/turen-til-langeland/" class="page__gallery-link"
                style="background-image: url('assets/images/Turen-til-Langeland.jpg')">
                <span class="page__gallery-title">Turen til Langeland</span>
            </a>
            <a href="/billeder/turen-til-skagen/" class="page__gallery-link"
                style="background-image: url('assets/images/Turen-til-Skagen.jpg')">
                <span class="page__gallery-title">Turen til Skagen</span>
            </a>
            <a href="/billeder/turen-til-tyskland/" class="page__gallery-link"
                style="background-image: url('assets/images/Turen-til-Tyskland.jpg')">
                <span class="page__gallery-title">Turen til Tyskland</span>
            </a>
            <a href="/billeder/oestjylland/" class="page__gallery-link"
                style="background-image: url('assets/images/Østjylland.jpg')">
                <span class="page__gallery-title">Østjylland</span>
            </a>
        </div>
    </section>
</div>