.footer {
  background-color: $color-blue--darker;
  height: $footer-height;
  padding: 8px;
  border-top: 1px solid $color-gray;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  @media #{$tablet} {
    width: $page-width-tablet;
    height: $footer-height-tablet;
    border-left: 1px solid $color-gray;
    border-right: 1px solid $color-gray;
    @include border-radiuses(8px, 8px, 0, 0);
    left: 50%;
    right: initial;
    @include translateX(-50%);
  }
  @media #{$desktop} {
    width: $page-width-desktop;
  }
}

.footer__text {
  margin-bottom: 0;
  font-size: .99em;
}

.footer__link {
  margin: 0 6px;
  text-decoration: none;
  &::before {
    @extend .font-awesome-styles;
    display: inline-block;
  }
  &--email {
    &::before {
      content: '\f0e0';
    }
  }
  &--linkedin {
    &::before {
      content: '\f0e1';
    }
  }
  &--github {
    &::before {
      content: '\f09b';
    }
  }
}