.mobile-nav {
  background: $color-blue--darker;
  width: 100%;
  padding: 25px 0;
  position: fixed;
  top: $header-height;
  bottom: $footer-height;
  z-index: 1;
  @include translateX(-100%);
  @include transition(all, .4s, ease, 0s);
  overflow-y: auto;
  @media #{$sm} {
    display: none;
  }
  &--active {
    @include translateX(0);
  }
}

.mobile-nav__content {
  overflow-y: auto;
  ul {
    margin-left: 0;
    list-style: none;
    li {
      &.current-menu-item, &.current-page-ancestor {
        a {
          background: $color-blue--dark;
          font-weight: 600;
        }
      }
      a {
        display: block;
        height: 40px;
        padding: 5px 15px;
        text-decoration: none;
        &:hover {
          background: $color-blue--dark;
        }
      }
    }
  }
}