.mobile-nav {
  background: $color-blue--darker;
  width: 100%;
  padding: 25px 0;
  position: fixed;
  top: $header-height;
  bottom: $footer-height;
  z-index: 1;
  @include translateX(-100%);
  @include transition();
  overflow-y: auto;
  @media #{$sm} {
    display: none;
  }
  &--active {
    @include translateX(0);
  }
}

.mobile-nav__content {
  overflow-y: auto;
  ul {
    margin-left: 0;
    list-style: none;
    &.sub-menu {
      display: none;
      margin-left: 20px;
    }
    li {
      a {
        display: block;
        height: 40px;
        padding: 5px 15px;
        text-decoration: none;
        &:hover {
          background: $color-blue--dark;
        }
      }
    }
  }
}

.mobile-nav__link {
  position: relative;
  &--current {
    background: $color-blue--dark;
    font-weight: 600;
  }
}

.mobile-nav__arrow {
  position: absolute;
  top: 5px;
  right: 10px;
  &:after {
    display: inline-block;
    @extend .font-awesome-solid;
    content: "\f107";
    width: 35px;
    height: 25px;
    text-align: center;
    @include transition();
  }
  &--rotated {
    &:after {
      @include rotate(-180deg);
    }
  }
}