.page {
  margin: 0 auto;
  padding: $header-height 15px 0 15px;
  @media #{$tablet} {
    width: $page-width-sm;
    padding: 0 15px;
  }
  @media #{$desktop} {
    width: $page-width-md;
    padding: 0;
  }
}

.page__content {
  padding: 20px 0 ($footer-height + 20px) 0;
  @media #{$tablet} {
    padding: 0 0 ($footer-height-sm + 20px) 0;
  }
}