.page {
  padding: $header-height 15px 0 15px;
  @media #{$tablet} {
    width: $page-width-tablet;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media #{$desktop} {
    width: $page-width-desktop;
    padding: 0;
  }
}

.page__content {
  padding: 20px 0 ($footer-height + 20px) 0;
  @media #{$tablet} {
    padding: 0 0 ($footer-height-tablet + 20px) 0;
  }
}

.page__galleries {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  @media #{$tablet} {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media #{$desktop} {
    justify-content: space-between;
  }
}

.page__gallery {
  width: 285px;
  margin: 0 20px 20px 0;
  border: 1px solid $color-white;
  @media #{$desktop} {
    margin-right: 10px;
  }
}