@use '../color.scss' as color;
@use '../media-query.scss' as mediaQuery;
@use '../mixin.scss' as mixin;

.slider {
    height: 129px;
    margin: 0 -15px;
    border-bottom: 2px solid color.$color-gray;
    @media #{mediaQuery.$tablet} {
        margin: 25px 0;
        border: 2px solid color.$color-gray;
        @include mixin.box-shadow(4px, 4px, 6px, color.$color-black);
    }
    @media #{mediaQuery.$desktop} {
        height: 160px;
    }
}

.slider__slide {
    display: none;
}

.slider__image {
    background: no-repeat center;
    background-size: cover;
    height: 100%;
}