<footer class="footer">
    <div class="footer__widget">
        <div class="textwidget">
            <p>Kenneth Clemmensen</p>
        </div>
    </div>
    <div class="footer__widget">
        <div class="iconwidget">
            <a href="mailto:kenneth.clemmensen@gmail.com" target="_self"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
    <div class="footer__widget">
        <div class="iconwidget">
            <a href="https://www.linkedin.com/in/kennethclemmensen" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="footer__widget">
        <div class="iconwidget">
            <a href="https://github.com/kennethclemmensen?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>