* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #7A7A7A;
}

#wrap {
	width: 960px;
	margin: 0px auto;
}

#samle_top {
	background-color: #000000;
	width: 960px;
	height: 150px;
	float: left;
}

#samle_top2 {
	width: 300px;
	height: 150px;
	float: left;
	padding-left: 20px;
}

#top1 {
	width: 300px;
	height: 90px;
	float: left;
	padding-top: 35px;
}

#top1 img {
	width: 300px;
	height: 60px;
	float: left;
}

#top2 {
	width: 300px;
	height: 25px;
	float: left;
	margin-top: -30px;
}

#top2 h1 {
	display: block;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #CCCCCC;
	padding-top: 5px;
	border-top: 1px solid #CCCCCC;
	text-align: center;
}

#top3 {
	background-image: url(../images/top3_billede.jpg);
	width: 640px;
	height: 150px;
	float: left;
}

#top3 img {
	width: 640px;
	height: 150px;
	float: left;
}

#samle {
	background-color: #000000;
	width: 960px;
	float: left;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#menu {
	width: 260px;
	float: left;	
	padding-top: 50px;
}

#menu ul li {
	margin-left: 65px;
	margin-bottom: 7px;
	list-style-image: url(../images/link.jpg);
}

#links {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.00em;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}

#links:active {
	color: #FFFFFF;
	text-decoration: underline;
}

#links:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#content {
	color: #FFFFFF;
	width: 660px; 
	float: left;
	padding-right: 40px;
}

#content h1 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.45em;
	color: #CCCCCC;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #CCCCCC;
}
	
#content h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.15em;
	color: #CCCCCC;
}

#content p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .95em;
	line-height: 1.35em;
	color: #CCCCCC;
	margin-top: 4px;
	padding-bottom: 1px;
}

#content img {
	width: 200px;
	height: 140px;
	float: left;
	margin-right: 18px;
	margin-bottom: 5px;
	border: 3px solid #CCCCCC;
}

.tabel {
	margin-top: 5px;
	margin-bottom: 20px;
	border: 1px solid #CCCCCC;
}

.tabel a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .95em;
	color: #FFFFFF;
}

.celle {
	width: 190px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.topcelle_kommentar {
	width: 210px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.celle_kommentar {
	width: 300px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px solid #CCCCCC;
}

#kommentar {
	width: 290px;
	border: 2px solid #CCCCCC;
	margin-top: 10px;
	margin-bottom: 4px;
}

.top {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .95em;
	font-weight: bold;
	color: #CCCCCC;
	padding-bottom: 1px;
}

#felt {
	width: 125px;
	margin-bottom: 4px;
	border: 2px solid #CCCCCC;
}

#knap {
	width: 50px;
	height: 25px;
	float: none;
	margin-bottom: 3px;
	border: 2px solid #CCCCCC;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #000000;
	text-align: center;
}


#tilfoej_knap {
	width: 50px;
	height: 25px;
	float: left;;
	margin-top: 10px;
	border: 2px solid #CCCCCC;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #000000;
	text-align: center;
}

#check {
	margin-right: 4px;
}

#bund {
	background-color: #000000;
	width: 960px;
	height: 22px;
	float: left;
	margin-top: 10px;
	padding-top: 8px;
	text-align: center;
}

#bund p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .75em;
	font-weight: bold;
	color: #CCCCCC;
}