* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}

#wrap {
	width: 900px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#top {
	background-image: url(../images/top.jpg);
	width: 898px;
	height: 98px;
	float: left;
	border: 1px solid #000000;
}

#samle {
	background-image: url(../images/menu_bg.jpg);
	background-repeat: repeat;
	width: 898px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

#menu {
	width: 180px;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#menu ul li {
	list-style-type: circle;
	margin-top: 7px;
	margin-left: 15px;
	margin-bottom: 4px;
	color: #FFFFFF;
}

#menu a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .80em;
	color: #FFFFFF;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

#menu h1 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.05em;
	color: #CCCCCC;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 10px;
}

#menu p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .75em;
	color: #CCCCCC;
	margin-top: 8px;
	margin-left: 11px;
	text-align: left;
}

#login_formular {
	width: 155px;
	height: 155px;
	float: left;
	border: 1px solid #CCCCCC;
	margin-top: 50px;
	text-align: center;
}

#login_felt {
	width: 133px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

#login_button {
	background-color: #FFFFFF;
	width: 43px;
	height: 22px;
	float: left;
	margin-left: 10px;
	border: 1px solid #CCCCCC;	
}

#content {
	width: 656px;
	float: left;
	padding: 20px;
	border-left: 1px solid #000000;
}

#map_canvas {
	width: 500px;
	height: 300px;
}

#samle_bund {
	background-image: url(../images/menu_bg.jpg);
	background-repeat: repeat;
	width: 858px;
	height: 22px;
	float: left;
	padding-top: 7px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #000000;
}

#samle_bund p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .75em;
	color: #FFFFFF;
}

#bund1 {
	width: 415px;
	float: left;
	padding-right: 14px;
	text-align: right;
}

#bund2 {
	width: 415px;
	float: left;
	padding-left: 14px;
	text-align: left;
}

h1 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.55em;
	color: #FFFFFF;
	margin-bottom: 15px;
}

h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.15em;
	color: yellow;
	font-weight: normal;
	font-style: italic;
}

p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	line-height: 1.20em;
	color: #FFFFFF;
}

a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #FFFFFF;
}

a:hover {
	color: yellow;
}

/* webblog */
.skrevet_af {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	line-height: 1.20em;
	color: #FFFFFF;
	display: block;
	width: 400px;
	float: left;
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #FFFFFF;
}

.dato {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	line-height: 1.20em;
	color: #FFFFFF;
	display: block;
	width: 100px;
	float: left;
	margin-left: -100px;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.indlaeg {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	line-height: 1.20em;
	color: #FFFFFF;
	display: block;
	width: 350px;
	float: none;
	margin-bottom: 15px;
}

#webblog {
	width: 398px;
	height: 73px;
	display: block;
	border: 1px solid #CCCCCC;	
}

#webblog_knap {
	background-color: #FFFFFF;
	width: 43px;
	height: 22px;
	margin-top: 10px;
	border: 1px solid #CCCCCC;	
}

/* admin */
#admin_formular {
	background-color: #FFFFFF;
	width: 178px;
	height: 120px;
	margin-top: 150px;;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 1px solid #000000;
	text-align: center;
}

#admin_formular p {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .75em;
	color: #CCCCCC;
	margin-top: 8px;
	margin-left: 16px;
	text-align: left;
}

.opret {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .75em;
	color: #CCCCCC;
}

.er_oprettet {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #CCCCCC;
	display: block;
	float: none;
	margin-top: 40px;	
}

.position_opdateret {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #CCCCCC;
	display: block;
	float: none;	
	margin-bottom: 15px;
}

#tid_menu {
	width: 150px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}

#position {
	width: 200px;
	display: block;
	margin-bottom: 3px;
}

#rejseplan_formular {
	margin-top: 30px;
}

#rejseplan_dato {
	width: 350px;
	height: 15px;
	margin-bottom: 12px;
	border: 1px solid #CCCCCC;
	display: block;
}

#rejseplan_tekst {
	width: 350px;
	height: 125px;
	border: 1px solid #CCCCCC;
}

#upload {
	margin-bottom: 10px;
}

#beskrivelse {
	width: 325px;
	border: 1px solid #CCCCCC;
}

#dato {
	width: 200px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}

#upload_knap {
	background-color: #FFFFFF;
	width: 53px;
	height: 22px;
	float: left;
	margin-top: 5px;
	border: 1px solid #CCCCCC;
}

#admin_knap {
	background-color: #FFFFFF;
	width: 43px;
	height: 22px;
	float: left;
	margin-top: 5px;
	margin-left: 16px;
	border: 1px solid #CCCCCC;	
}

#opretbruger_knap {
	background-color: #FFFFFF;
	width: 43px;
	height: 22px;
	float: left;
	margin-top: 5px;
	border: 1px solid #CCCCCC;	
}

#opdater_knap {
	background-color: #FFFFFF;
	width: 65px;
	height: 20px;
	float: none;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #CCCCCC;
}

.rejseplanTekst {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #FFFFFF;
	display: block;
	margin-bottom: 20px;
}

.celle {
	width: 80px;
	text-align: center;
}

.indlaeg_td {
	width: 200px;
	text-align: center;
}

.dato_celle {
	width: 110px;
	text-align: center;
}

.tekst_celle {
	width: 260px;
	text-align: center;
}

.slet_celle {
	width: 90px;
	text-align: left;
}

.slet_billede_beskrivelse {
	padding-left: 10px;
}

.slet_billede_dato {
	padding-left: 10px;
}

.slet_billede_slet {
	padding-left: 10px;
}

/* galleri */

.galleri_dato {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .70em;
	font-style: italic;
	color: #FFFFFF;
	margin-top: -3px;
}

.galleri_beskrivelse {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: .85em;
	color: #FFFFFF;
	margin-top: 4px;
	margin-bottom: 10px;
}